@media only screen and (max-width: 1200px) {
    .contatos{
        flex-direction: column;
        width: 100%;
    }
    .contatos h1{
        text-align: center;
    }
    .links{
        margin-top: 5px;
    }
    #informacao{
        font-size: 12px;
    }
    
}
@media only screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }
    header nav a{
        padding: 5px 6px;
    }
    header nav a:nth-child(4){
        padding: 5px 0 5px 6px;
    }
    .filme-principal .container{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sinopse{
        margin: 10px auto 30px auto;
        width: 70%;
    }
    .titulo{
        margin-top: 0;
        font-size: 24px;
    }
    .carrosel-filmes{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 500px){
    .filme-principal{
        background-size: cover;
        height: 400px;
    }
    .titulo{
        font-size: 18px;
        /* margin-top: 0; */
    }
    .sinopse{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .botao{
        width: 180px;
    }
    .botao:nth-child(2){
        margin-top: 10px;
    }
    .botao:nth-child(1){
        margin-right: 0;
    }
    .carrosel-filmes{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 430px){
    .filme-principal .container{
        width: 100%;
    }
    .sinopse{
        margin-top: 0;
        width: 90%;
        margin-bottom: 10px;
    }
}